---
layout: default
---

<div class="home">

  <h1 class="section"> Home </h1>

  <!-- Picture -->
  <img src="assets/images/profile-picture.JPG" style="width: 286px">
  <div class="home-block">
      {{ content }}
  </div>

  <!-- Section News -->
  <!-- <div class="empty" style="--height: 25px"></div>
  <h1> News </h1>
  <div class="page-title-line"></div> -->
  <h1 class="section" style="--margin-top: 25px"> News </h1>


  {% assign filtered_news = site.news | sort: "date" | "reverse" %}
  {%- for item in filtered_news -%}
    {%- assign year = item.date | date : "%Y" -%}
    {%- assign month = item.date | date : "%m" -%}
    {%- if year >= "2023" and month >= "01" -%}
      <div class="box">
        <h3 style="font-weight: 500"> {{ item.category }}: {{ item.title }} </h3>
        {{ item.date | date: "%B, %Y"}}
        <div style="text-align: justify;">
          {{ item.content | markdownify }}
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>