---
layout: default
---

<div class="home">

  <h1 class="section"> Home </h1>

  <!-- Picture -->
  <img src="assets/images/profile-picture.JPG" style="width: 286px">
  <div class="home-block">
      {{ content }}
  </div>

  <h1 class="section" style="--margin-top: 25px"> News </h1>

  <!-- Sort the news in reverse order -->
  {%- assign sort_news = site.news | sort: "date" | "reverse" -%}
  {%- assign recent_news = sort_news -%}

  <!-- Print News -->
  {%- for item in recent_news -%}
    <div class="box">
      <div>
        <span class="box-title"> {{ item.title }} </span>
        <span style="float:right; margin-top:7px;">
          {{ item.date | date: "%B, %Y"}}
        </span>
      </div>
      <div class="box-line"></div>
      <div style="text-align: justify;"> {{item.content}} </div>
    </div>
  {%- endfor -%}

</div>