---
layout: default
---

<article>

  <!-- Print Title Section -->
  <div class="section-pub">
    <!-- Print Title -->
    <div class="box-title-pub">
      <a href="{{ page.url | relative_url }}">
        {{ page.title }}
      </a>
    </div>
    <!-- Print Data  -->
    <div class="box-data">
      {%- include partial_import/pages_print_authors.html -%}
      {%- include partial_import/pages_print_venue.html -%}
    </div>
    <!-- Print Files Link -->
    <div style="margin-top: 7px;">
      {%- include partial_import/pages_print_files.html -%}
    </div>
  </div>

  <!-- Print Markdown Content -->
  <h3> Abstract : </h3>
  <div style="text-align: justify;">{{ content | markdownify }}</div>

</article>